{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}

{% if "college" not in session %}
<br/>
&nbsp;
<b>Please select your Campus:</b>
&nbsp;&nbsp;&nbsp;
<a href="home?college=Oxford" class="btn btn-primary custom">Oxford Campus</a>
&nbsp;&nbsp;&nbsp;
<a href="home?college=Atlanta" class="btn btn-primary custom">Atlanta Campus</a>
{% endif %}

{% if session["college"] == "Atlanta" and "fromTo" not in session %}
<h3>&nbsp; Emory Atlanta Campus Airport Rideshare Finder</h3>
<br/>
&nbsp;&nbsp;&nbsp;
<a href="home?college=Atlanta&fromTo=from" class="btn btn-primary custom">Leaving Campus</a>
&nbsp;&nbsp;&nbsp;
<a href="home?college=Atlanta&fromTo=to" class="btn btn-primary custom">Returning to Campus</a>
{% endif %}
{% if session["college"] == "Oxford" and "fromTo" not in session%}
<h3>        &nbsp;
    Emory Oxford Campus Airport Rideshare Finder</h3>
<br/>
&nbsp;&nbsp;&nbsp;
<a href="home?college=Oxford&fromTo=from" class="btn btn-primary custom">Leaving Oxford</a>
&nbsp;&nbsp;&nbsp;
<a href="home?college=Oxford&fromTo=to" class="btn btn-primary custom">Returning to Oxford</a>
{% endif %}

{% if "college" in session and "fromTo" in session %}
Welcome!
{% if session["college"] == "Oxford" and session["fromTo"] == "from" %}
<b>Rideshares From Oxford Campus to Airport</b>
<br/>
{% endif %}
{% if session["college"] == "Oxford" and session["fromTo"] == "to" %}
<b>Rideshares From Airport to Oxford Campus</b>
<br/>
{% endif %}
{% if session["college"] == "Atlanta" and session["fromTo"] == "from" %}
<b>Rideshares From Atlanta Campus to Airport</b>
<br/>
{% endif %}
{% if session["college"] == "Atlanta" and session["fromTo"] == "to" %}
<b>Rideshares From Airport to Atlanta Campus</b>
<br/>
{% endif %}

<br/>
Click <a href="share">Share</a> to enter your rideshare information and get added to the system. 
<br/>
Click <a href="search">Search</a> and enter your desired dates and times to view others who are leaving and need a ride.
<br/>
Click <a href="update">Update</a> and enter your name if you need to change any information about your ride.
<br/>
Click <a href="home">Home</a> to reset your preferences and start again.
<br/>

{% endif %}

<style>

    .wrapper.four {
    text-align: left;
}
.four .type{
    width: auto;
    text-align: left;
    margin: auto;
}
.four h3 {
    width: 33ch;
    border-right: 3px solid black;
    text-align: left;
    margin: 0.5rem auto;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3.5s steps(13, end), blink-caret 0.35s step-end infinite alternate;
}
@-webkit-keyframes typing {
    from {
        width: 0;
    }
}
@-webkit-keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

</style>
<br/>
<br/>
{% if session["college"] != "Atlanta" %}
Busiest Rideshare Dates (Oxford):
<br>
{% for item in data %}
    <tr>
        <td><B>{{item.ridesCount}}</B> requests <B>{{item.fromTo}}</B> <B>{{item.college}} campus</B> on <B>{{item.rideDate}}</B></td>
    </br>
    </tr>
{% endfor %}
{% endif %}
<br/>
{% if session["college"] != "Oxford" %}
Busiest Rideshare Dates (Atlanta Campus):
<br>
{% for item in data2 %}
    <tr>
        <td><B>{{item.ridesCount}}</B> requests <B>{{item.fromTo}}</B> <B>{{item.college}} campus</B> on <B>{{item.rideDate}}</B></td>
    </br>
    </tr>
{% endfor %}
{% endif %}
    <div class="four wrapper">
        <div class="type" >
        <h3 class="typing">Total RideShare Requests This Year: <B>{{data3}}</B>
        </h3>
        </div>
    </div>

{% endblock %}