{% extends "base.html" %}
{% block title %} About {% endblock %}
{% block content %}
The Emory RideShareFinder started off as a little pet project I created for my friends and I after getting tired of incessant 
groupMe rideshare requests that flooded the Oxford College chat. I never imagined it would gain so much widespread support and usage by Emory students 
from both Oxford and Atlanta campuses! I will keep making improvements to this site and encourage all of you to keep using it!
<br>
<br>
- Akhil Arularasu, (Ox '24 and Emory '26)
<br/>
<a href="mailto:akhil.arularasu@emory.edu"?> 
    Email </a>
    | <a href="https://www.linkedin.com/in/akhil-arularasu/">Linkedin</a>
<br/>
<br/>
P.S. Thanks to the EmoryWheel for doing a story on this! 
Check it out:
<br/>
<div style="width:40%;">
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Using HTML and Python, Arularasu spent the last week of his winter break building the Emory-Ox Airport Rideshare Finder website. <a href="https://t.co/c8aoUKt9lG">https://t.co/c8aoUKt9lG</a></p>&mdash; The Emory Wheel (@emorywheel) <a href="https://twitter.com/emorywheel/status/1616148486046584832?ref_src=twsrc%5Etfw">January 19, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
{% endblock %}
