{% extends "base.html" %}
{% block title %} Success {% endblock %}
{% block content %}
Thanks, {{session["name"]}}, your information has successfully been added. Below others who leave 30 minutes before or after your requested time.
<br/>
{% if data.count() == 1 %}
No other riders leaving 30 minutes before or after your preferred time, use the <a href="search">Search</a> feature to expand your time window or search again later.
{% else: %}
<br/>
<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">From/To</th>
        <th scope="col">Campus</th>
        <th scope="col">Full Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Ride Date</th>
        <th scope="col">Ride Time</th>
        <th scope="col">Rideshare Full?</th>
        </tr>
  </thead>
  <tbody>
  {% for item in data %}
      <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{item.fromTo}}</td>
          <td>{{item.college}}</td>
          <td>{{item.name}}</td>
          <td>{{item.telNumber}}</td>
          <td>{{item.rideDate|strfdate}}</td>
          <td>{{item.rideTime|strftime}}</td>
          <td>{{item.rideFound}}</td>
        </tr>
  {% endfor %}
  </tbody>
  </table>
{% endif %}
{% endblock %}
