{% extends "baseATL.html" %}
{% block title %} Suggestions {% endblock %}
{% block content %}
    <form class="form-group" method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="v4Sxr0ii2zIi2L8BwOEkXGMGqU4OQvyL5MMmV0Js7cXDHptqNllOjA5N2tu6OHiJ">
        
       <div class="row">
          <div class="col-lg">
            <div class="row" style="color: #344e41;">
              <div class="col-lg"><div class="d-flex flex-column">
                <div class="p-2 mt-1"></div>
       
       
      
       
         
       
                </div>
      </div></div>
            
              
         
          </div>
          <div class="col-lg form-group">
           <p><label for="w3review"></label></p><h3 style="font-weight:900;color:#344e41;">Suggestions</h3><p></p>
             <textarea style="background-color:#E1DFD8;" required="" oninvalid="this.setCustomValidity('Please enter a subject')" oninput="this.setCustomValidity('')" placeholder="Subject:" name="txtsubject" class=" form-control textarea " rows="1"></textarea><br>
        <textarea style="background-color:#E1DFD8;" required="" oninvalid="this.setCustomValidity('Please enter a comment')" oninput="this.setCustomValidity('')" placeholder="Comments:" name="txtcomment" class=" form-control textarea " rows="10"></textarea>
        
       
      <div class="row">
      <div class="col-9 mt-3">
      <!--    custom-select w-50 mt-2 -->
      
      </div>
      
      
      
      
          <div class="col-3 mt-2">
          <div class="d-flex justify-content-end mt-2">
        <div class="p-2"></div>
        <div class="p-2"></div>
        <div class="pl-2"><input type="submit" value="Submit" name="submit" class="button-45 "></div>
      </div>
        </div>
          
      </div>
            
      
          </div>
          <div class="col-lg">
            <div class="row">
            <div class="d-flex flex-column ml-5" style="font-size:18px;color:#344e41;">
              <div class="p-3"><br></div>
               <div class="p-3"></div>
              <div class="pr-2 pl-2"></div>
        
      
      
      
                    
                 
          <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
          <script src="script.js"></script> 
                   
      
       
      <script>
      var x, i, j, l, ll, selElmnt, a, b, c;
      /*look for any elements with the class "custom-select":*/
      x = document.getElementsByClassName("custom-select");
      l = x.length;
      for (i = 0; i < l; i++) {
        selElmnt = x[i].getElementsByTagName("select")[0];
        ll = selElmnt.length;
        /*for each element, create a new DIV that will act as the selected item:*/
        a = document.createElement("DIV");
        a.setAttribute("class", "select-selected");
        a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
        x[i].appendChild(a);
        /*for each element, create a new DIV that will contain the option list:*/
        b = document.createElement("DIV");
        b.setAttribute("class", "select-items select-hide");
        for (j = 1; j < ll; j++) {
          /*for each option in the original select element,
          create a new DIV that will act as an option item:*/
          c = document.createElement("DIV");
          c.innerHTML = selElmnt.options[j].innerHTML;
          c.addEventListener("click", function(e) {
              /*when an item is clicked, update the original select box,
              and the selected item:*/
              var y, i, k, s, h, sl, yl;
              s = this.parentNode.parentNode.getElementsByTagName("select")[0];
              sl = s.length;
              h = this.parentNode.previousSibling;
              for (i = 0; i < sl; i++) {
                if (s.options[i].innerHTML == this.innerHTML) {
                  s.selectedIndex = i;
                  h.innerHTML = this.innerHTML;
                  y = this.parentNode.getElementsByClassName("same-as-selected");
                  yl = y.length;
                  for (k = 0; k < yl; k++) {
                    y[k].removeAttribute("class");
                  }
                  this.setAttribute("class", "same-as-selected");
                  break;
                }
              }
              h.click();
          });
          b.appendChild(c);
        }
        x[i].appendChild(b);
        a.addEventListener("click", function(e) {
            /*when the select box is clicked, close any other select boxes,
            and open/close the current select box:*/
            e.stopPropagation();
            closeAllSelect(this);
            this.nextSibling.classList.toggle("select-hide");
            this.classList.toggle("select-arrow-active");
          });
      }
      function closeAllSelect(elmnt) {
        /*a function that will close all select boxes in the document,
        except the current select box:*/
        var x, y, i, xl, yl, arrNo = [];
        x = document.getElementsByClassName("select-items");
        y = document.getElementsByClassName("select-selected");
        xl = x.length;
        yl = y.length;
        for (i = 0; i < yl; i++) {
          if (elmnt == y[i]) {
            arrNo.push(i)
          } else {
            y[i].classList.remove("select-arrow-active");
          }
        }
        for (i = 0; i < xl; i++) {
          if (arrNo.indexOf(i)) {
            x[i].classList.add("select-hide");
          }
        }
      }
      /*if the user clicks anywhere outside the select box,
      then close all select boxes:*/
      document.addEventListener("click", closeAllSelect);
      </script>
      
                  </div>
           
      
        
              </div>
              <!-- Bootstrap core JS-->
              <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
              <!-- Core theme JS-->
              <script src="js/scripts.js"></script>
        
          
      </div></div></form>

{% endblock %}
